.card {
  display: flex;
  margin-top: 10px;
}
.image {
  margin-right: 30px;
}
.description {
  max-height: 400px;
}
.genres {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.list:not(:last-child) {
  margin-right: 10px;
}
.reviewList {
  margin-left: 20px;
}
